@use '../settings/variable.scss' as v;

.selectia__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 450px;
}

.hidden {
    visibility: hidden;
}

.choice_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: v.$white;
        text-align: center;
        margin-bottom: 40px;
    }
}

@media (max-width:500px){
    .selectia__container {
        align-items: flex-start;
        margin-top: 8vh;
    }
    .choice_container:nth-child(1) {
        margin-right: 40px;
    }
    .choice_container:nth-child(3) {

    }
}
