@use '../settings/variable.scss' as v;

.showstate {
    scale: 0;
    animation: hiddenState 2s 1 .7s ;
    animation-fill-mode: forwards !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;

    &__container {
        width: 200px;
        height: 100px;
        position: relative;

        h1 {
            text-align: center;
            color: v.$white;
            z-index: 10;
            font-size: 50px;
            font-weight: 700;
            text-transform: uppercase;
        }

        button {
            position: absolute;
            top: 70px;
            color: v.$Rock-Gradient;
            letter-spacing: 4px;
            width: 200px;
            height: 40px;
            border: none;
            cursor: pointer;
            font-size: 12px;
            border-radius: 8px;
            font-weight: 700;
            text-transform: uppercase;

            &:hover{
                transition: .5s;
                scale: 1.1;
            }
            &:active {
                scale: 0.9;
            }
        }
    }
}

@keyframes hiddenState {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}

@media (max-width:500px) {
    .showstate {
        position: absolute;
        top: 60%;
        width: 300px;
        h1{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,0%);
            width: 300px;
            font-size: 65px;
        }
        button{
            position: absolute;
            left: 50%;
            transform: translate(-50%,0%);
            width: 250px;
            height: 50px;
            font-size: 18px;
            color: v.$Dark-Text;
            top: 80px;
        }
    }
}