@use './variable.scss' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 55, 86);
    background: radial-gradient(circle, v.$Radial-Gradient 0%, v.$Radial-Gradient-dark 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.game_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.yellow {
    background-color: v.$Scissors-Gradient  !important;
}

.blue {
    background-color: v.$Paper-Gradient  !important;
}

.purple {
    background-color: v.$Lizard-Gradient  !important;
}

.red {
    background-color: v.$Rock-Gradient  !important;
}

.skyblue {
    background-color: v.$Cyan  !important;
}

.shadow_win {
    animation: shadowwin 1s infinite 1s;
    animation-fill-mode: forwards !important;
}

.disableclick {
    pointer-events: none;
}


@keyframes shadowwin {
    0% {
        box-shadow: 0 0 0px 50px rgba($color: #fff, $alpha: 0.05),
            0 0 0px 100px rgba($color: #fff, $alpha: 0.04),
            0 0 0px 150px rgba($color: #fff, $alpha: 0.03);
    }

    50% {
        box-shadow:0 0 0px 100px rgba($color: #fff, $alpha: 0.05),
        0 0 0px 50px rgba($color: #fff, $alpha: 0.04),
        0 0 0px 150px rgba($color: #fff, $alpha: 0.03);
    }
    100% {
        box-shadow:0 0 0px 50px rgba($color: #fff, $alpha: 0.02),
            0 0 0px 100px rgba($color: #fff, $alpha: 0.03),
            0 0 0px 120px rgba($color: #fff, $alpha: 0.04);
    }
}

@media (max-width:500px) {
    .game_section {
        align-items: flex-start;
    }
}